[flake8]
max-line-length = 127
extend-ignore = E203, W503, E402
exclude =
    .git,
    __pycache__,
    .hatch,
    .pytest_cache,
    .mypy_cache,
    build,
    dist,
    .venv,
    venv
max-complexity = 15
per-file-ignores =
    tests/*:E402

